@import url("./root.css");
@import url("./button.css");
@import url("./call-to-action-buttons.css");
@import url("./article.css");
@import url("./modal.css");
@import url("./form.css");
@import url("./link-button.css");
@import url("./faq.css");
@import url("./blob-shape.css");

.about-adoption.grid-image-article {
  grid-template-rows: auto;
  grid-template-areas: "adoption-article adoption-image";
}
.call-to-action {
  padding: 2em 0;
}
.adoption-image {
  padding-left: 4em;
}
.adoption-image img {
  max-width: 520px;
  max-height: 459px;
  object-fit: cover;
  border-radius: 5px;
  z-index: 1;
  justify-self: center;
  border: 35px solid var(--secondary1);
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow);
}

.stories-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
}
.story-photo {
  width: 336px;
  height: 313px;
  margin: 2rem;
}
.happy-stories {
  text-align: center;
  background-color: var(--secondary2);
}
/* FAQ */
.answer {
  padding: 1rem;
}
li {
  list-style: none;
}
.faq {
  background-color: #fff;
}
.section-header {
  text-align: center;
  border-bottom: #777;
  padding: 20px 60px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.faq-list {
  list-style: none;
  box-shadow: var(--shadow);
  border-radius: 8px;
}

.nested-list li {
  padding: 0.5em;
  margin: 0px;
  text-align: left;
}
.nested-list p {
  padding: 0.5em;
  font-size: 1rem;
  margin: 0px;
  text-align: left;
}
.nested-nested-list {
  list-style-type: circle;
  padding-left: 1.2em;
}

.question img {
  padding-right: 10px;
  height: 12px;
}

.question {
  background-color: var(--secondary2);
  padding: 10px;
  margin-bottom: 15px;
  margin-top: 15px;
  border-radius: 8px;
  text-align: left;
}

.story.one .story-photo img,
.story.two .story-photo img {
  width: 100%;
}

.story.three .story-photo img {
  height: 100%;
}

a {
  all: unset;
  color: var(--primary2);
  font-weight: 500;
}

a:hover {
  cursor: pointer;
  border-bottom: 3px solid var(--primary2);
}

/* Responsive design start */

@media screen and (max-width: 990px) {
  /* .header-navbar-wrapper {
    min-height: initial;
  } */

  /* .adoption-is-important {
    display: block;
  } */

  .grid-image-article {
    display: initial;
  }
  .article {
    padding: 30px;
  }

  .stories-container {
    display: block;
    padding: 30px;
    text-align: left;
  }

  h2,
  ul {
    width: 100vw;
    padding: 30px;
  }
}
