.search-card-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 20px;
  right: 10px;
  z-index: 10;
  /* background-color: rgba(253, 241, 255, 0.6); */
}
.favorites {
  background-color: transparent;
}

#delete-animal,
#edit-animal,
#favorite-animal {
  /* width: 30px; */
  margin: 0.6rem;
  transition: transform 0.2s;
}

#favorite-animal {
  opacity: 0.6;
}

.active {
  opacity: 1 !important;
}

#delete-animal:hover,
#edit-animal:hover,
#favorite-animal:hover {
  transform: scale(1.5);
  cursor: pointer;
}
