.search-card-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 20px;
  right: 10px;
  z-index: 1;
  background-color: rgba(253, 241, 255, 0.7);
  border-radius: 30px;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: auto;
  padding: 0.4rem;
  gap: 6px;
}

#delete-animal,
#edit-animal {
  width: 35px;
  height: auto;
  margin: 0.4rem 0;
}

#delete-animal {
  width: 30px;
}

#delete-animal,
#edit-animal,
#favorite-animal {
  /* width: 30px; */

  transition: transform 0.2s;
}

#delete-animal:hover,
#edit-animal:hover,
#favorite-animal:hover {
  transform: scale(1.1);
  cursor: pointer;
}

#favorite-animal {
  position: static;
}

#favorite-animal,
#favorite-animal::before {
  cursor: pointer;
}

#favorite-animal {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
