@import url("./root.css");
@import url("./button.css");
@import url("./article.css");
@import url("./modal.css");
@import url("./form.css");
@import url("./link-button.css");
@import url("./search-menu.css");



.animal-photo {
  width: 100%;
  object-fit: cover;
}

.animal-info,
.animal-story {
  background-color: var(--secondary1);
  border-radius: 5px;
  box-shadow: var(--shadow);
  padding: 3em;
}

.animal-story h3 {
  margin-bottom: 1.2em;
}
