@import url("./root.css");
@import url("./button.css");
@import url("./article.css");
@import url("./modal.css");
@import url("./form.css");
@import url("./link-button.css");

.animal-photo {
  width: 586px;
  height: 409px;
  object-fit: cover;
}

.animal-info,
.animal-story {
  background-color: var(--secondary1);
}

.animal-story {
}
