.article {
  margin: auto;
  font-size: 1.125rem;
  font-weight: 400;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

h2 {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 2rem;
}
