.article{
  margin: auto;
  padding: 2rem;
  font-size:1.2rem;
  font-weight: 400;
  }

.article.h1 {
  all:unset;
  font-size:2rem;
  font-weight: 700;
  } 

.article.h2{
  font-size:1.6rem;
  font-weight: 600;
  }

  p{
  margin: 1em 0;
  }
