.button {
  font-size: 1rem;
  font-weight: 500;
  border-bottom: 5px;
  border-radius: var(--borderRadius);
  padding: 0.9em 2.7em;
  box-shadow: var(--shadow);
  text-align: center;
  min-width: fit-content;
  max-width: fit-content;
}

.button:hover {
  cursor: pointer;
}
