.button {
  font-size: 1rem;
  font-weight: 500;
  border-bottom: 5px;
  border-radius: var(--borderRadius);
  padding: 0.9em 2.7em;
  box-shadow: var(--shadow);
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.button:hover {
  cursor: pointer;
}

/* Responsive design start */

@media screen and (max-width: 990px) {
  .button {
    /* width: 154px; */
    height: 26px;
    padding: 14px 30px;
  }
}
