
.call-to-action1 {
  background-color: var(--primary1);
  color: var(--mainText);
  width:fit-content;

  }
  
  .call-to-action1:hover {
    background-color: var(--primaryHover1);
    }
  
  .call-to-action2 {
    background-color: var(--primary2);
    color:#fff;
    width:fit-content;
    }
  
  .call-to-action2:hover {
    background-color: var(--primaryHover2);
    }