.call-to-action1 {
  background-color: var(--primary1);
  color: var(--mainText);
}

.call-to-action1:hover {
  background-color: var(--primaryHover1);
}

.call-to-action2 {
  background-color: var(--primary2);
  color: #fff;
}

.call-to-action2:hover {
  background-color: var(--primaryHover2);
}

/* Responsive design start */

@media screen and (max-width: 990px) {
  .call-to-action1 {
    margin-bottom: 0;
  }

  .call-to-action2 {
    margin-top: 0;
  }

  /* Responsive design end */