.dropdown-content {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  width: fit-content;
  position: absolute;
  right: 10px;
  padding: 20px;
  margin-top: 50px;
  margin-right: 25px;
  opacity: 0;
  box-shadow: var(--shadow);
}
.active {
  opacity: 1;
}

.profile-menu-item {
  margin-bottom: 24px;
  position: relative;
}
.profile-menu-item:hover:after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: -3px;
  left: 0;
  background-color: var(--primary2);
}
.profile-menu-image {
  display: inline-block;
  vertical-align: bottom;
  margin-right: 8px;
}
