.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  left: 0;
  top: calc(100% + 0.25rem);
  background-color: white;
  padding: 1rem;
  box-shadow: var(--shadow);
  opacity: 0;
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.active > .dropdown-menu {
  opacity: 1;
}
