@import url("./root.css");
@import url("./button.css");
@import url("./article.css");
@import url("./modal.css");
@import url("./form.css");
@import url("./link-button.css");
@import url("./call-to-action-buttons.css");
@import url("./input-select.css");

#update-animal-form .input-select {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 32px;
  grid-row-gap: 16px;
}

.animal-description {
  margin: 16px 0 16px 0;
}

.animal-description textarea {
  height: 200px;
  border-radius: 5px;
}

.update-animal-button {
  display: block;
  margin: auto;
}

.update-animal-image-button {
  display: none;
}

.update-animal-image-upload {
  cursor: pointer;
  color: var(--linkBtn);
  margin-right: 32px;
}

.upload-images {
  display: flex;
  margin-bottom: 16px;
}

.upload-images > div {
  display: flex;
  align-items: center;
  height: 200px;
  margin-top: auto;
  margin-bottom: auto;
}

.animal-preview {
  height: 200px;
  width: auto;
  object-fit: contain;
  border-radius: 32px;
}

#update-animal-form button {
  width: fit-content;
  height: 30px;
}
