@import url("./root.css");
@import url("./animal-card.css");
@import url("./button.css");
@import url("./link-button.css");
@import url("./search-result-card.css");

.animal-search-results .container {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  gap: 24px;
  justify-content: center;
}
