#login-form {
  box-sizing: border-box;
  display: block;
  justify-content: center;
  align-content: center;
  color: var(--mainText);
  width: 470px;
  min-width: 250px;
  width: 100%;
}
#login-form label {
  float: left;
  margin-left: 1rem;
}
input {
  border-radius: var(--borderRadius);
  border: 2px solid var(--primary2);
  padding: 0.5em 1em;
  font-size: 1.2rem;
  width: 100%;
  margin-top: 0.2rem;
  margin-bottom: 2rem;
}

.form-button {
  background-color: var(--secondaryBtn2);
  color: var(--primary2);
  margin-top: 1rem;
}
