/* form {
  font-size: 1.125rem;
} */
.modal .modal-form {
  /* background-color: tomato; */
  font-size: 1.125rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  color: var(--mainText);
  width: 470px;
  min-width: 250px;
  width: 100%;
}

.modal-form input {
  padding: 0.4rem 1.5rem !important;
}

#login-form input {
  font-size: 1.125rem;
}

.modal-form label {
  position: absolute;
  top: 0;
  left: 1rem;
  display: block;
}
#form-title {
  color: var(--primary2);
}
.form-control {
  position: relative;
  padding: 0 0.3rem;
}
.form-control img {
  position: absolute;
  top: 40px;
  right: 20px;
  height: 20px;
  width: 20px;
}

.form-control input,
textarea {
  display: block;
  border-radius: var(--borderRadius);
  border: 2px solid var(--primary2);
  width: 100%;

  padding: 0.3em 0.5em;
  margin: auto;
}

.form-control input,
.form-control textarea {
  outline: 0;
}

.form-control textarea {
  height: 150px;
  margin-bottom: 1rem;
}

/* error message */
.form-control.success input,
.form-control.success textarea {
  border: 2px solid var(--successColor);
}

.form-control.error input,
.form-control.error textarea {
  border: 2px solid var(--errorColor);
}

.form-control small {
  color: var(--errorColor);
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.form-control.error small,
.error.show-error {
  color: var(--errorColor);
  visibility: visible;
}

.error-message {
  visibility: hidden;
}
/* error message end */
.referred-animal {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.subject-animal {
  height: 150px;
  width: 150px;
  margin: auto;
}
.subject-animal img {
  width: 100%;
  object-fit: cover;
  clip-path: circle(40%);
}
