@import url("./tilted-images.css");
@import url("./root.css");
@import url("./navbar.css");
@import url("./button.css");
@import url("./call-to-action-buttons.css");
@import url("./article.css");
@import url("./modal.css");
@import url("./form.css");
@import url("./link-button.css");
/* @import url("./about-adoption.css"); */
@import url("./animal-profile.css");

/* top article + navbar section */
.header-navbar-wrapper {
  background-image: url("../assets/images/ui/home/figma-images/welcome-bg.svg");
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 600px;
  /* position the navbar */
  position: relative;
  margin-bottom: 3rem;
}

.welcome-container {
  justify-content: center;
  /* padding: 0 10rem; */
  grid-template-areas:
    "welcome-image welcome-article"
    "space call-to-action";
  gap: 32px;
}

navbar {
  background-color: transparent !important;
}

hr {
  margin-top: 15px;
  border: 2px solid var(--primary2);
}

.welcome-image {
  display: flex;
  align-content: flex-start;
  justify-content: flex-start;
  grid-area: welcome-image;
  /* position: relative;
  top: 0;
  left: 0; */
}

.welcome-image-dog {
  max-width: 600px;
  width: 100%;
  justify-self: center;
  align-self: center;
}

.welcome-shift {
  grid-area: welcome-article;
}

.call-to-action {
  width: 100%;
/*   float: left;
 */}

.welcome-container .call-to-action {
  margin-top: 1.5rem;
  display: flex;
  justify-content: left;
  gap: 32px;
}
/* 1 section why adoption is important */
.adoption-is-important {
  background-color: var(--secondary2);
}

.adoption-article {
  padding-top: 4rem;
  grid-area: article1;
  grid-template-areas:
    "article image"
    "call-to-action image";
}

.adoption-is-important .article-image {
  grid-area: image;
}
/* 2 section when lonely animal needs help */
.help-article {
  padding-top: 4rem;
  grid-area: article2;
  grid-template-areas:
    "image article"
    "image call-to-action";
}

.help-article .article-image {
  grid-area: image;
}
/* Video styles start */

.video {
  margin: 140px 0 70px 0;
  width: 100%;
}

.video_wrapper {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

.video_item {
  padding-top: 56.25%;
}

.video_element {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Video styles end */

/* Responsive design start */

@media screen and (max-width: 1100px) {
  .welcome,
  .adoption-is-important,
  .lonely-animals-need-help,
  .video {
    display: block;
    padding: 1.6rem;
    justify-content: center;
    align-content: center;
  }

  .welcome-image-dog {
    max-width: 500px;
  }
  .header-navbar-wrapper {
    min-height: initial;
  }

  .grid-image-article {
    display: initial;
  }

  .call-to-action {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: flex-start;
/*     max-width: 0px;
 */  }
}
