span{
  cursor: pointer;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.modal-background{
  position: fixed;
  width:100%;
  height:100vh;
  top:0;
  left:0;
  background-color: rgba(255, 255, 255, 0.3);
  display:flex;
  justify-content: center;
  align-items:center;
  visibility: visible;
  backdrop-filter: blur(5px);
}

.modal {
  position: relative;
  background-color: var(--secondary1);
  border-radius: var(--borderRadius);
  padding: 6rem 2rem;
  width: 40%;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-content {
  width: 80%;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

