@import url("./dropdown.css");

#menu a,
button {
  all: unset;
  cursor: pointer;
}

navbar {
  font-size: 1.125rem;
  font-weight: 500;
  background-color: var(--primary1);
  margin-bottom: 2rem;
}

#top-navbar {
  /* align-items: baseline; */
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-areas: "logo menu account";
  gap: 60px;
  align-items: center;
}

#top-navbar .logo {
  padding-top: 5px;
  grid-area: logo;
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}

#avatar-image {
  height: 75px;
  width: auto;
  object-fit: contain;
  border-radius: 50%;
  padding-left: 10px;
}

#top-navbar .pages-menu {
  grid-area: menu;
  display: flex;
  justify-content: space-between;
}

#top-navbar .account-menu {
  all: unset;
  grid-area: account;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

#top-navbar .account-menu > .avatar {
  margin-left: 10px;
}

#top-navbar button {
  all: unset;
  cursor: pointer;
}

#menu .pages-menu a {
  display: inline-block;
  position: relative;
}

/* #menu .pages-menu a:hover::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: -20px;
  left: 0;
  background-color: var(--primary2);
} */

/* Responsive design start */

.header_burger {
  display: none;
  width: 40px;
  height: 28px;
  margin-bottom: 25px;
  margin-top: 20px;
  margin-left: auto;
  position: relative;
  cursor: pointer;
}

.responsive-menu {
  display: none;
}

.burger_line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #1e0b25;
  position: absolute;
  left: 0;
}

.burger_line_first {
  top: 0;
}

.burger_line_second {
  top: 50%;
  transform: translateY(-50%);
}

.burger_line_third {
  bottom: 0;
}

/* Media start */
@media screen and (max-width: 1325px) {
  .header_burger {
    display: block;
    grid-area: account;
  }

  #top-navbar .pages-menu {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 10;
    padding: 75px;
    transform: translateX(100%);
    transition: 0.2s all linear;
    z-index: 100;
  }

  #account-menu.account-menu {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 10;
    padding: 75px;
    transform: translateX(100%);
    transition: 0.2s all linear;
  }

  .responsive-menu {
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 10;
    padding: 75px;
    transform: translateX(100%);
    transition: 0.2s all linear;
  }

  .responsive-menu_active {
    transform: translateX(0);
  }
  .responsive-menu-close {
    width: 40px;
    height: 40px;
    position: absolute;
    margin-right: 15px;
    margin-top: 15px;
    top: 20px;
    right: 20px;
    z-index: 11;
  }
  .pages-menu-close-line {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #1e0b25;
    position: absolute;
    top: 50%;
  }
  .pages-menu-close-line:first-child {
    transform: translateY(-50%) rotate(45deg);
  }
  .pages-menu-close-line:last-child {
    transform: translateY(-50%) rotate(-45deg);
  }

  a {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }
  a:last-child {
    margin-bottom: 0;
  }
}

/* Media end */

/* Responsive design end */
