@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("./navbar.css");
@import url("./footer.css");
@import url("./animal-card-icons.css");

:root {
  --primary1: #fcc521;
  --primary2: #793093;
  --primaryHover1: #e9af01;
  --primaryHover2: #63197d;
  --secondary1: #fdf1ff;
  --secondary2: #f3f3f3;
  --mainText: #0b040e;
  --regularBtn: #f5d7ff;
  --linkBtn: #006def;
  --shadow: 0px 4px 6px rgba(121, 48, 147, 0.25);
  --borderRadius: 30px;
  --successColor: #2ecc71;
  --errorColor: #e74c3c;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  height: fit-content;
  /* height: 100vh; */
}

h1 {
  font-size: 2.75rem;
  font-weight: 700;
}

h2 {
  font-size: 2.188rem;
  font-weight: 600;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.438rem;
}

.main {
  width: 100%;
  margin: auto;
}

.grid-image-article {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr;
}

.menu {
  background-color: var(--primary1);
  padding: 0 10rem 0 10rem;
}

.container {
  justify-content: center;
  padding: 1rem 12rem;
  margin: 0 auto 1rem auto;
}

.page-intro .container {
  text-align: center;
  padding: 1rem 1rem;
}

.page-intro article {
  max-width: 800px;
  margin: auto;
  text-align: center;
  padding: 1rem 1rem;
}

.call-to-action {
  padding: 2em 0;
}
