.animal-search-results {
  margin-top: 3rem;
}

.search-results {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  justify-content: center;
  gap: 50px;
}

.search-result-card {
  background-color: var(--secondary1);
  border-radius: var(--borderRadius);
  height: fit-content;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "card-photo" "card-info";
  box-shadow: var(--shadow);
  cursor: pointer;
}

.search-result-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--borderRadius) var(--borderRadius) 0 0;
}

.search-result-card .card-photo {
  height: 334px;
}

.search-result-card .card-info {
  padding: 3rem 3rem;
  display: block;
  text-align: justify;
  color: rgba(0, 0, 0, 0.8);
}

.search-result-card .card-info span {
  font-size: 1.325rem;
  margin-left: 0.4em;
  color: var(--mainText);
}

.animal-name {
  text-align: center;
  color: var(--primary2);
}
