.card-images {
  display: grid;
  grid-template-rows: repeat(5, 20%);
  justify-content: center;
}

.card-images img {
  width: 297px;
  height: 297px;
  object-fit: cover;
  border-radius: 5px;
  position: absolute;
  z-index: 1;
}

.image-background {
  background: var(--secondary1);

  width: 325px;
  height: 325px;
  border-radius: 15px;
  box-shadow: var(--shadow);
  top: 0;
  left: 0;
  z-index: 0;
}

.image-rotate-left {
  transform: rotate(-15deg);
}
.image-rotate-right {
  transform: rotate(15deg);
}

.bgr-rotate-left {
  transform: rotate(-5deg);
}
.bgr-rotate-right {
  transform: rotate(30deg);
}

.image1 {
  grid-column: 6 / span 4;
  grid-column-end: 3;
}

.image2 {
  grid-column: 4 / span 4;
  grid-row-start: 3;
}

@media screen and (max-width: 540px) {
  .card-images img {
    width: 200px;
    height: 200px;
  }
  .image-background {
    width: 200px;
    height: 200px;
  }
}

@media (min-width:800px) and (max-width:1100px) {
  .card-images{
    display: flex;
    flex-direction: horizontal;
    justify-content: center;
  }
}​
