<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../../../../styles/add-animal.css" />
  <title>Register animal</title>
</head>

<body>
  <header id="top" class="main-navbar">
    <div id="menu" class="menu"></div>
  </header>
  <div class="main">
    <section class="page-intro">
      <div class="container">
        <article>
          <h2>Register an animal</h2>
          <p>
            If you have an animal for adoption, you can add it here. Please add a picture and write the story of your animal and describe it's character.
          </p>
        </article>
      </div>
    </section>
    <section class="animal-info-form">
      <div class="container">
        <form action="#" id="register-animal-form">
          <div class="input-select">
            <div>
              <label for="name">Name*</label>
              <input type="text" name="name" required />
            </div>
            <div>
              <label for="type">Type*</label>
              <input type="text" name="type" required />
            </div>
            <div>
              <label for="breed">Breed*</label>
              <input type="text" name="breed" required />
            </div>
            <div>
              <!-- dropdown gender? -->
              <label for="gender">Gender*</label>
              <select name="gender">
                <option value="male">Male</option>
                <option value="female">Female</option>
              </select>
            </div>
            <div>
              <label for="character">Character*</label>
              <select name="character">
                <option value="all">All characters</option>
                <option value="affectionate">Affectionate</option>
                <option value="aggressive">Aggressive</option>
                <option value="aloof">Aloof</option>
                <option value="angry">Angry</option>
                <option value="asocial">Asocial</option>
                <option value="calm">Calm</option>
                <option value="energetic">Energetic</option>
                <option value="energetic">Energetic</option>
                <option value="friendly">Friendly</option>
                <option value="needy">Needy</option>
                <option value="noisy">Noisy</option>
                <option value="passive">Passive</option>
                <option value="playful">Playful</option>
                <option value="quiet">Quiet</option>
                <option value="shy">Shy</option>
                <option value="social">Social</option>
              </select>
            </div>
            <div>
              <label for="age">Age*</label>
              <input type="number" name="age" required />
            </div>
            <div>
              <label for="location">City*</label>
              <input type="text" name="location" required />
            </div>
            <div>
              <label for="province">Province</label>
              <select name="province">
                <option value="brussels">Brussels</option>
                <option value="antwerp">Antwerp</option>
                <option value="east-flanders">East-Flanders</option>
                <option value="flemish-Brabant">Flemish Brabant</option>
                <option value="limburg">Limburg</option>
                <option value="west-flanders">West-Flanders</option>
                <option value="hainaut">Hainaut</option>
                <option value="liege">Liege</option>
                <option value="luxembourg">luxembourg</option>
                <option value="namur">Namur</option>
                <option value="Wallon-Brabant">Wallon-Brabant</option>
                <!-- add options from DB -->
              </select>
            </div>
            <div>
              <label for="Phone">Phone*</label>
              <input type="number" name="phone" required />
            </div>
            <div>
              <label for="Website">Website</label>
              <input type="text" name="website" /><br />
            </div>
          </div>
          <div class="animal-description">
            <label for="about">Describe your animal*</label>
            <textarea name="describeAnimal" required></textarea>
          </div>
        </form>
        <div class="upload-images">
          <div>
            <label for="animal-image" class="register-animal-image-upload">Upload Image</label>
            <input class="link-button register-animal-image-button" form="register-animal-form" type="file" id="animal-image"
              name="picture1" accept="image/*"/>
          </div>
          <div>
            <img id="animal-preview" class="animal-preview"></img>
          </div>
        </div>
        <button type="submit" form="register-animal-form" class="button register-animal-button call-to-action1">Register
          an animal</button>
      </div>
    </section>
  </div>
  <footer class="footer"></footer>
  <script type="module" src="../../init/add-animal.js"></script>
</body>

</html>
