<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../../../styles/animal-profile.css">
  <title>Hand and Paw</title>
</head>
<body>
  <header>
    <nav></nav>
  </header>
  <div class="main">
    <section class="page-intro">
      <div class="container">
        <article>
          <h2>Create adoption profile for your animal.</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga soluta dolores quae! Animi provident recusandae quis quas, fugiat aut facere natus magnam incidunt culpa numquam iure eius obcaecati nam minus?</p>
        </article>
      </div>
    </section>
    <class="animal-info-form">
      <form action="">
        <label for="name">Name</label>
        <input type="text" name="name">
        <label for="type">Type</label>
        <input type="text" name="type">
        <label for="breed">Breed</label>
        <input type="text" name="breed">
        <label for="age">Age</label>
        <input type="text" name="age">
        <!-- dropdown gender? -->
        <label for="gender">Gender</label>
        <select name="gender">
          <option value="male">Male</option>
          <option value="female">Female</option>
        </select>
        <label for="character">Character</label>
        <input type="text" name="character">
        <!-- birth of date -->
        <label for="birth-date">Date of birth</label>
        <input type="date" name="dateBirth">
        <label for="location">Location</label>
        <input type="text" name="location">
        <label for="Phone">Phone</label>
        <input type="number" name="phone">
        <label for="Website">Website</label>
        <input type="text" name="website" ><br>
        <label for="about" name="about" ></label>
        <textarea name="about" cols="30" rows="20"></textarea>
        <!-- if this is a form, how to attach listener? -->
        <div class="upload-images">
          <input type="file" id="img" name="img" accept="image/*">
          <div class="preview">Image preview</div>
        </div>
      </form>
      <button class="button">Submit</button>
    </section>
  </div>
  <footer></footer>
  <script type="module" src="../../init/add-animal.js"></script>
</body>
</html>