<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../../../styles/animal-profile.css" />
    <title>Animal profile</title>
  </head>
  <body>
    <header id="top" class="main-navbar">
      <div id="menu" class="menu"></div>
    </header>
    <div class="main">
      <section class="main-information">
        <div class="container">
          <div class="about-animal">
            <!-- basically animal card component -> maybe use divs from there -->
            <div class="image-gallery"></div>
            <div class="animal-info"></div>
            <div class="contact">
              <button class="button">Get in touch</button>
            </div>
          </div>
        </div>
      </section>
      <section class="animal-story">
        <div class="container">
          <article>
            <!-- maybe make dynamical name -->
            <h2>About "animal name"</h2>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore,
              ratione illo expedita quae numquam impedit repellendus quasi dicta
              velit minima unde, id quis eum sint dolorum? Minima optio nostrum
              voluptatibus, nobis eaque repudiandae veniam sequi tenetur non.
              Autem fuga recusandae qui ipsam deserunt voluptatem, tempore
              dolorem provident iste molestias temporibus architecto hic laborum
              voluptatibus quod optio in quo adipisci similique impedit nisi
              distinctio quisquam! Fugiat odio et reiciendis eveniet aperiam.
            </p>
          </article>
        </div>
      </section>
    </div>

    <footer class="footer"></footer>
    <script type="module" src="../../init/animal-profile.js"></script>
  </body>
</html>
