<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../../../styles/edit-animal-profile.css" />
    <title>Edit Animal Profile</title>
  </head>

  <body>
    <header id="top" class="main-navbar">
      <div id="menu" class="menu"></div>
    </header>
    <div class="main">
      <section class="page-intro">
        <div class="container">
          <article>
            <h2>Edit animal profile</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga
              soluta dolores quae! Animi provident recusandae quis quas, fugiat
              aut facere natus magnam incidunt culpa numquam iure eius obcaecati
              nam minus?
            </p>
          </article>
        </div>
      </section>
      <section class="animal-info-form">
        <div class="container">
          <form action="#" id="update-animal-form">
            <div class="input-select">
              <div>
                <label for="name">Name*</label>
                <input id="edit-name" type="text" name="name"  />
                <br>
                <small id="name-small"> </small>
              </div>
              <div>
                <label for="type">Type*</label>
                <input id="edit-type" type="text" name="type"  />
              </div>
              <div>
                <label for="breed">Breed*</label>
                <input id="edit-breed" type="text" name="breed" />
              </div>
              <div>
                <!-- dropdown gender? -->
                <label for="gender">Gender*</label>
                <select id="edit-gender" name="gender">
                  <option value="all">Select gender</option>
                  <option value="male">Male</option>
                  <option value="female">Female</option>
                </select>
              </div>
              <div>
                <label for="character">Character*</label>
                <select name="character">
                  <option value="all">All characters</option>
                  <option value="affectionate">Affectionate</option>
                  <option value="aggressive">Aggressive</option>
                  <option value="aloof">Aloof</option>
                  <option value="angry">Angry</option>
                  <option value="asocial">Asocial</option>
                  <option value="calm">Calm</option>
                  <option value="energetic">Energetic</option>
                  <option value="energetic">Energetic</option>
                  <option value="friendly">Friendly</option>
                  <option value="needy">Needy</option>
                  <option value="noisy">Noisy</option>
                  <option value="passive">Passive</option>
                  <option value="playful">Playful</option>
                  <option value="quiet">Quiet</option>
                  <option value="shy">Shy</option>
                  <option value="social">Social</option>
                  </select>
              </div>
              <div>
                <label for="age">Age*</label>
                <input id="edit-age" type="number" name="age"  />
              </div>
              <div>
                <label for="location">City*</label>
                <input id="edit-location" type="text" name="location"  />
              </div>
              <div>
                <label for="province">Province</label>
                <select id="edit-province" name="province">
                  <option value="all">Select province</option>
                  <option value="brussels">Brussels</option>
                  <option value="antwerp">Antwerp</option>
                  <option value="east-flanders">East-Flanders</option>
                  <option value="flemish-Brabant">Flemish Brabant</option>
                  <option value="limburg">Limburg</option>
                  <option value="west-flanders">West-Flanders</option>
                  <option value="hainaut">Hainaut</option>
                  <option value="liege">Liege</option>
                  <option value="luxembourg">Luxembourg</option>
                  <option value="namur">Namur</option>
                  <option value="Wallon-Brabant">Wallon-Brabant</option>
                  <!-- add options from DB -->
                </select>
              </div>
              <div>
                <label for="Phone">Phone*</label>
                <input id="edit-phone" type="tel" name="phone" placeholder="+32123456789" />
                <br>
                <small id="phone-small"> </small>
              </div>
              <div>
                <label for="Website">Website</label>
                <input id="edit-webSite" type="text" name="website" placeholder="http://www.yourpage.com" /><br />
                <br>
                <small id="website-small"> </small>
              </div>
            </div>
            <div class="animal-description">
              <label for="about">Describe your animal*</label>
              <textarea id="edit-describeAnimal" name="describeAnimal" ></textarea>
            </div>
          </form>
          <div class="upload-images">
            <div>
              <label for="animal-image" class="update-animal-image-upload">Upload Image</label>
              <input  class="link-button update-animal-image-button" form="update-animal-form" type="file" id="animal-image"
                name="picture1" accept="image/*"/>
            </div>
            <div>
              <img id="animal-preview" class="animal-preview"></img>
            </div>
          </div>
          <button type="submit" form="update-animal-form" class="button update-animal-button call-to-action1">Update
            my animal</button>
        </div>
      </section>
    </div>
    <footer class="footer"></footer>
    <script type="module" src="../../init/edit-animal-profile.js"></script>
  </body>
</html>
