<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../../../styles/favorites.css" />
    <title>Hand and Paw</title>
  </head>
  <body>
    <header>
      <nav></nav>
    </header>
    <div class="main">
      <section class="page-intro">
        <div class="container">
          <article>
            <h1>Favorites.</h1>
            <p>
              If you have any questions about specific animal, feel free to
              contact the shelter. Often you have opportunity to come visit the
              animal before you make a decision.
            </p>
          </article>
        </div>
      </section>
      <section class="favorites-sort-menu">
        <div class="container">
          <form>
            <div class="dropdown-menu"></div>
          </form>
        </div>
      </section>
      <section class="favorites-sort-results"></section>
    </div>
    <div class="pagination"></div>
    <footer></footer>
    <script type="module" src="../../init/favorites.js"></script>
  </body>
</html>
