<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../../../styles/favorites.css" />
    <title>Hand and Paw</title>
  </head>
  <body>
    <header>
      <nav></nav>
    </header>
    <div class="main">
      <section class="page-intro">
        <div class="container">
          <article>
            <h1>Favorites.</h1>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. At fugit,
              possimus voluptatem maiores, tempora eius molestias aspernatur
              praesentium, ex reiciendis iure reprehenderit ad recusandae
              maxime! Illo atque, eius corrupti culpa sapiente error cum
              eligendi deserunt ut ipsam iste, unde magnam non quidem a maxime.
              Omnis quod ipsam iure ea eius?
            </p>
          </article>
        </div>
      </section>
      <section class="favorites-sort-menu">
        <div class="container">
          <form>
            <div class="dropdown-menu"></div>
          </form>
        </div>
      </section>
      <section class="favorites-sort-results"></section>
    </div>
    <div class="pagination"></div>
    <footer></footer>
    <script type="module" src="../../init/favorites.js"></script>
  </body>
</html>
