<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../../../styles/find-shelter.css" />
    <title>Find a shelter</title>
  </head>
  <body>
    <header id="top" class="main-navbar">
      <div id="menu" class="menu"></div>
    </header>
    <div class="main">
      <section class="page-intro">
        <div class="container">
          <article>
            <h1>List of animal shelters in Belgium</h1>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. At fugit,
              possimus voluptatem maiores, tempora eius molestias aspernatur
              praesentium, ex reiciendis iure reprehenderit ad recusandae
              maxime!
            </p>
          </article>
          <button id="register-shelter-btn" class="button call-toaction1">
            Register a shelter
          </button>
        </div>
      </section>
      <section class="shelter-search-menu">
        <div class="container">
          <!-- js component? -->
        </div>
      </section>
      <section class="shelter-search-results">
        <!-- js component? -->
      </section>
    </div>
    <footer class="footer" ></footer>
    <script type="module" src="../../init/find-shelter.js"></script>
  </body>
</html>
