<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../../../styles/find-animal.css" />
    <title>Find an animal</title>
  </head>
  <body>
    <header id="top" class="main-navbar">
      <div id="menu" class="menu"></div>
    </header>
    <div class="main">
      <section class="page-intro">
        <div class="container">
          <article>
            <h1>Find your perfect companion.</h1>
            <p>
              Each animal has their own personality. It may take some time to
              find a perfect match, but it totally worth. Don't rush to make a
              choice. <br />
              Click on the animal if you would like to read more about it.
            </p>
          </article>
        </div>
      </section>
      <section class="animal-search-menu">
        <div class="container">
          <form>
            <div class="dropdown-menu">
              <form action="#" id="search-animal-form">
                <select name="type">
                  <option value="type-types">All animals</option>

                  <!-- add options from DB -->
                </select>
                <select name="breed">
                  <option value="all-breeds">All breeds</option>
                  <!-- add options from DB -->
                </select>

                <select name="age">
                  <option value="all-ages">All ages</option>
                  <!-- add options from DB -->
                </select>

                <select name="gender">
                  <option value="all-genders">All genders</option>
                  <!-- add options from DB -->
                </select>

                <select name="character">
                  <option value="all-characters">All characters</option>
                  <!-- add options from DB -->
                </select>
                <select name="province">
                  <option value="all-provinces">All provinces</option>
                  <!-- add options from DB -->
                </select>
                <button
                  type="submit"
                  id="submit-animal-search-form"
                  class="button regular-button"
                >
                  Search
                </button>
              </form>
            </div>
          </form>
        </div>
      </section>
      <section class="animal-search-results"></section>
    </div>
    <footer class="footer" ></footer>
    <script type="module" src="../../init/find-animal.js"></script>
  </body>
</html>
