<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../../../styles/homepage/style.css">
  <title>Hand and Paw</title>
</head>
<body>
  <nav>
    <div class="container"></div>
  </nav>
  <section class="welcome">
      <div class="adoption container">
      <h1>Welcome!</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus ratione animi, quo quaerat quas accusamus error alias minus, laudantium magnam voluptatem tempore minima rerum aspernatur numquam veritatis officia ex perferendis? Architecto ipsum excepturi quisquam ipsam, repellendus porro vero ipsa blanditiis?</p>
    </div>
  </section>
  <section class="adoption-is-important">
    <div class="container secondary">
      <h1>Why adoption is important?</h1>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae eligendi fuga explicabo, velit sint impedit! Excepturi quam esse unde, numquam nulla delectus, sapiente omnis repellat mollitia perspiciatis cupiditate aspernatur est soluta consectetur sunt itaque assumenda obcaecati et quae voluptatem provident? Optio quidem fugiat beatae laborum iste rerum incidunt cum perferendis, dolorum, maiores laudantium? Nobis et eligendi alias voluptatum ipsam asperiores cumque ab officiis facere neque quae optio tempore voluptates veritatis quis doloremque quam, officia incidunt, earum quod, minima sapiente aliquid! Odit blanditiis provident consectetur enim consequuntur expedita, beatae fugit iure architecto sed eius vitae fuga? Optio blanditiis cupiditate natus quibusdam!</p>
    </div>
  </section>
  <section class="pets-need-help">
    <div class="container">
      <h1>When lonely animals need our help.</h1>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam, recusandae! Illo nihil, reiciendis tempore eligendi qui quibusdam ad animi, doloremque repellendus esse impedit molestiae, beatae sed consequuntur modi consectetur blanditiis? Libero, facilis. Doloremque aliquam excepturi officia est natus fuga ipsa voluptatum quam reiciendis tempora veritatis accusamus quia eius optio voluptatem pariatur, nemo inventore ea qui itaque perspiciatis! Maiores quidem voluptatum dolor alias quam, natus eius harum tempora qui, aliquid magni? Molestias voluptates, sapiente ipsam assumenda aspernatur quod soluta ex iure debitis odio, accusamus dolorum inventore quia magni earum quam culpa eaque nemo ea sed labore, corporis doloremque? Dolores, quo. Id.</p>
    </div>
  </section>
  <section class="video">
    <div class="container"></div>
  </section>
  <footer></footer>
</body>
</html>