<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../../../styles/my-animals.css" />
    <title>My animals</title>
  </head>
  <body>
    <header id="top" class="main-navbar">
      <div id="menu" class="menu"></div>
    </header>
    <div class="main">
      <section class="page-intro">
        <div class="container">
          <article>
            <h1>My animals</h1>
            <p>
              Here you find animals you have registered for adoption. Please
              don't forget to delete profiles of animals when they are adopted.
            </p>
          </article>
        </div>
      </section>
      <section class="my-animals-sort-menu">
        <div class="container">
          <form>
            <div class="dropdown-menu"></div>
          </form>
        </div>
      </section>
      <section class="my-animals-sort-results"></section>
    </div>
    <footer class="footer"></footer>
    <script type="module" src="../../init/my-animals.js"></script>
  </body>
</html>
